
    <div class="container page404" style="padding-top:60px">
        <div class="detail404">
            <h2>404 Not found</h2>
            <p>Oops! Sorry, we can't find this page but don't worries! </p>
            <p>We'll find it somewhere...</p>
        </div>
    </div>
