
    <div class="container" >
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2><i class="fa fa-pencil-square-o"></i> About</h2>
          <p>My name is Panchanok Kaewchinda</p>
          <p>Currently studying at Seneca College in Computer Programming</p>
          <p>I'm interesting on learning web development</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2><i class="fa fa-spinner fa-pulse"></i> Coming Soon</h2>
          <p>Nearly there...Please wait...</p>
        </aside>
      </div>
    </div>