
<h2>Add Category</h2>
<div class="container" >
    <div class="row">
    
    <form method="post" action="/categories/add" >   
        <fieldset>
        <div class="col-md-6">
            <div class="form-group">
                <label for="category">Visibility:</label>
                <div class="checkbox">
                <label>
                    <input type="text" name="category" autofocus> Category:
                </label>
                </div>
            </div>
        </div>
        </fieldset>

        <hr>

        <input type="submit" class="btn btn-primary pull-right" value="Add Category"><br><br><br>

    </form>

    </div>
</div>
